body {
    font-size: 12px;
    overflow: hidden;
}

.stages {
    top: 40vh;
    bottom: 0;
    position: absolute;
    width: 20%;
    height: 20vh;
    /*-webkit-perspective: 10000;*/
    /*perspective: 10000;*/
    z-index: 5;
}

#stage {
    left: 12%;
}

#stage2 {
    left: 35%;
}

#stage3 {
    left: 58%;
}

.rotate {
    margin-left: 10vw;
    width: 20%;
    height: 20%;
    /* Ensure that we're in 3D space */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ring {
    height: 20%;
    width: 10vw;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: back-x-spin;
    animation-name: moz-spin;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.ring.animated {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.poster {
    position: absolute;
    width: 12 vw;
    /*height: 4vh;*/
    /*min-width: 20px;*/
    color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.poster.chosen {
    color: rgb(90, 157, 255);
}

p {
    font-family: futura-pt, 'Futura Std', Futura, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    display: table;
    /*margin-top: 20%;*/
}

@-webkit-keyframes back-x-spin {
    0% {
        -webkit-transform: rotateX(360deg);
    }
    50% {
        -webkit-transform: rotateX(180deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
    }
}

@keyframes moz-spin {
    0% {
        transform: rotateX(360deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.cover {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    /*border-image-repeat: stretch;*/
    pointer-events: none;
    background-size: 100% auto;
}

.cover.pattern {
    background: url("pattern.svg") center/cover no-repeat transparent;
    background-repeat: no-repeat;
    z-index: 20;
    /*opacity: 0.15*/
}

.cover.carve {
    background: url('top.png');
    background: url('top.svg');
    background-size: cover;
    /*background-size: 100% 100%;*/
    border-image-repeat: stretch;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 19;
}

.cover.bottom {
    background: url('bottom.png');
    background: url('bottom.svg');
    background-size: cover;
    /*background-size: 100% 100%;*/
    border-image-repeat: stretch;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.header {
    top: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 25;
}

#hint,
.hitSpace {
    bottom: 0;
    width: 100%;
    height: 20vh;
    position: absolute;
    z-index: 25;
    font-family: futura-pt, 'Futura Std', Futura, Arial, sans-serif;
    color: white;
    font-size: 3vmin;
    text-align: center;
}

.hitSpace {
    height: 40vh !important;
}

.logo {
    width: 75px;
    padding: 20px;
    position: absolute;
}

.pageLink {
    padding-right: 2vw;
    padding-top: 4vh;
    right: 0;
    top: 0;
    font-family: "futura-extrabold", futura-pt, 'Futura Std', Futura, Arial, sans-serif;
    color: white;
    position: absolute;
    font-size: 2vmin;
}

@media (max-width: 1000px) {
    .cover.carve,
    .cover.bottom {
        background-size: 100% auto;
        border-image-repeat: stretch;
    }
    .stages {
        top: 42vh;
    }
    .wide.blue {
        background: url('blue.png');
        background: url('blue.svg');
        width: 100%;
        left: 0;
        right: 0;
        height: 35vh;
        position: absolute;
    }
    .wide.blue.top {
        top: 0;
    }
    .wide.blue.bottom {
        bottom: 0;
    }
}
